{% extends 'posts/base.html' %}

{% block title %}Edit Post - Guffgram{% endblock %}

{% block content %}
    <h1>Edit Post</h1>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            {{ form.photo.label_tag }}
            {{ form.photo }}
            {% if form.photo.errors %}
                <ul class="errorlist">
                    {% for error in form.photo.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if form.photo.help_text %}
                <div class="helptext">{{ form.photo.help_text }}</div>
            {% endif %}
            {% if post.photo %}
                <p>Current photo:</p>
                <img src="{{ post.photo.url }}" alt="Current photo" style="max-width: 200px;">
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.caption.label_tag }}
            {{ form.caption }}
            {% if form.caption.errors %}
                <ul class="errorlist">
                    {% for error in form.caption.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if form.caption.help_text %}
                <div class="helptext">{{ form.caption.help_text }}</div>
            {% endif %}
        </div>
        
        <button type="submit" class="btn">Update Post</button>
    </form>
    
    <p><a href="{% url 'home' %}">Back to Home</a></p>
{% endblock %}